.container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0 0.5em 1em;
  overflow: hidden;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.6;
    box-shadow: 0 2px 4px 0 rgba(57, 57, 57, 0.5);
    transition: all .5s ease-in-out;

    &:hover {
      opacity: 1;
    }

    .thumbnail {
      width: 100%;
      height: 200px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    p {
      width: 100%;
      height: 51px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      white-space: nowrap;
      margin: 0;
      padding: 1em 0.25em;
      border-top: 1px solid #e2e2e2;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 30vw;
    .card {
      opacity: 1;

      .thumbnail {
        height: 14vh;
        opacity: 1;
      }

      p {
        font-size: 0.7em;
        padding: 0.7em 0.25em;
        height: 2.7em;
      }
    }
  }
}
