<div class="info-table">
  <div class="row">
    <div class="title">Id</div>
    <div class="data">{{image?.id}}</div>
  </div>
  <div class="row">
    <div class="title">Dimensions</div>
    <div class="data">{{image?.width}} x {{image?.height}}</div>
  </div>
  <div class="row">
    <div class="title">User</div>
    <div class="data">{{image?.user.name}}</div>
  </div>
  <div class="row">
    <div class="title">Views</div>
    <div class="data">{{image?.views}}</div>
  </div>
  <div class="row">
    <div class="title">Downloads</div>
    <div class="data">{{image?.downloads}}</div>
  </div>
</div>
